In [1]:
# Import the dependencies.
import pandas as pd
import gmaps
import requests
%matplotlib inline

In [2]:
# Import the API key.
from config import g_key

In [3]:
# Store the CSV you saved created in part one into a DataFrame.
city_data_df = pd.read_csv("weather_data/cities.csv")
city_data_df.head()

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed
0,0,Rikitea,PF,2021-10-28 21:05:15,-23.1203,-134.9692,75.49,80,81,17.65
1,1,Sur,OM,2021-10-28 21:06:41,22.5667,59.5289,77.50,67,0,2.51
2,2,Petropavlovsk-Kamchatskiy,RU,2021-10-28 21:03:19,53.0452,158.6483,30.79,93,75,4.47
3,3,Mata De Sao Joao,BR,2021-10-28 21:06:42,-12.5303,-38.2992,73.15,86,6,4.45
4,4,Requena,ES,2021-10-28 21:06:42,39.4883,-1.1004,55.71,88,95,2.44

In [4]:
city_data_df.dtypes

City_ID         int64
City           object
Country        object
Date           object
Lat           float64
Lng           float64
Max Temp      float64
Humidity        int64
Cloudiness      int64
Wind Speed    float64
dtype: object

In [5]:
# Configure gmaps to use your Google API key.
gmaps.configure(api_key=g_key)

In [6]:

coldest_cities = city_data_df.sort_values(["Max Temp"], ascending = True)
coldest_cities.head(5)

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed
320,320,Bilibino,RU,2021-10-28 21:15:18,68.0546,166.4372,-21.41,98,13,3.56
298,298,Cherskiy,RU,2021-10-28 21:14:10,68.7500,161.3000,-14.66,93,88,3.60
48,48,Chokurdakh,RU,2021-10-28 21:07:55,70.6333,147.9167,-10.37,97,94,4.07
557,557,Srednekolymsk,RU,2021-10-28 21:21:37,67.4500,153.6833,-7.13,98,83,1.25
114,114,Khatanga,RU,2021-10-28 21:09:16,71.9667,102.5000,-6.07,98,100,10.16

In [13]:
# Heatmap of temperature
# Get the latitude and longitude.
locations = city_data_df[["Lat", "Lng"]]
# Get the maximum temperature.
max_temp = city_data_df["Max Temp"]
# Assign the figure variable.
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
# Assign the heatmap variable.
heat_layer = gmaps.heatmap_layer(locations, weights=[max(temp, 0) for temp in max_temp], 
                                 dissipating=False, max_intensity=300, point_radius=4)
# Add the heatmap layer.
fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [14]:
# Heatmap of percent humidity
locations = city_data_df[["Lat", "Lng"]]
humidity = city_data_df["Humidity"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=humidity, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [15]:
# Heatmap of percent cloudiness
locations = city_data_df[["Lat", "Lng"]]
clouds = city_data_df["Cloudiness"] 
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=clouds, 
                                 dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.

fig

Figure(layout=FigureLayout(height='420px'))

In [16]:
# Heatmap of percent wind speek
locations = city_data_df[["Lat", "Lng"]]
wind = city_data_df["Wind Speed"] 
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=wind, 
                                 dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.

fig

Figure(layout=FigureLayout(height='420px'))

In [17]:
# Ask the customer to add a minimum and maximum temperature value.
min_temp = float(input("What is the minimum temperature you would like for your trip? "))
max_temp = float(input("What is the maximum temperature you would like for your trip? "))

What is the minimum temperature you would like for your trip? 75
What is the maximum temperature you would like for your trip? 90

In [18]:
# Filter the dataset to find the cities that fit the criteria.
preferred_cities_df = city_data_df.loc[(city_data_df["Max Temp"] <= max_temp) & \
                                       (city_data_df["Max Temp"] >= min_temp)]
preferred_cities_df.head(10)

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed
0,0,Rikitea,PF,2021-10-28 21:05:15,-23.1203,-134.9692,75.49,80,81,17.65
1,1,Sur,OM,2021-10-28 21:06:41,22.5667,59.5289,77.50,67,0,2.51
8,8,Kapaa,US,2021-10-28 21:06:43,22.0752,-159.3190,82.38,89,75,3.00
11,11,Victoria,HK,2021-10-28 21:05:03,22.2855,114.1577,77.38,88,84,1.99
12,12,Manicore,BR,2021-10-28 21:06:44,-5.8092,-61.3003,83.50,74,96,3.18
21,21,Cabinda,AO,2021-10-28 21:06:46,-5.5500,12.2000,76.59,82,30,8.43
28,28,Namatanai,PG,2021-10-28 21:06:48,-3.6667,152.4333,82.47,75,95,5.79
31,31,Banting,MY,2021-10-28 21:06:49,2.8167,101.5000,79.56,89,100,3.24
32,32,Labuhan,ID,2021-10-28 21:06:50,-6.8844,112.2051,79.39,84,100,6.44
33,33,Vaini,TO,2021-10-28 21:05:30,-21.2000,-175.2000,78.96,78,75,9.22

In [19]:
preferred_cities_df.count()

City_ID       181
City          181
Country       181
Date          181
Lat           181
Lng           181
Max Temp      181
Humidity      181
Cloudiness    181
Wind Speed    181
dtype: int64

In [20]:
# Create DataFrame called hotel_df to store hotel names along with city, country, max temp, and coordinates.
hotel_df = preferred_cities_df[["City", "Country", "Max Temp", "Lat", "Lng"]].copy()
hotel_df["Hotel Name"] = ""
hotel_df.head(10)

         City Country  Max Temp      Lat       Lng Hotel Name
0     Rikitea      PF     75.49 -23.1203 -134.9692
1         Sur      OM     77.50  22.5667   59.5289
8       Kapaa      US     82.38  22.0752 -159.3190
11   Victoria      HK     77.38  22.2855  114.1577
12   Manicore      BR     83.50  -5.8092  -61.3003
21    Cabinda      AO     76.59  -5.5500   12.2000
28  Namatanai      PG     82.47  -3.6667  152.4333
31    Banting      MY     79.56   2.8167  101.5000
32    Labuhan      ID     79.39  -6.8844  112.2051
33      Vaini      TO     78.96 -21.2000 -175.2000

In [21]:
# Set parameters to search for a hotel.
params = {
    "radius": 5000,
    "type": "lodging",
    "key": g_key
}

In [27]:
# Iterate through the DataFrame.
for index, row in hotel_df.iterrows():
    # Get the latitude and longitude.
    lat = row["Lat"]
    lng = row["Lng"]

    # Add the latitude and longitude to location key for the params dictionary.
    params["location"] = f"{lat},{lng}"

    # Use the search term: "lodging" and our latitude and longitude.
    base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"
    # Make request and get the JSON data from the search.
    hotels = requests.get(base_url, params=params).json()
    
    # Grab the first hotel from the results and store the name.
    try:
        hotel_df.loc[index, "Hotel Name"] = hotels["results"][0]["name"]
    except (IndexError):
        print("Hotel not found... skipping.")

Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.

In [29]:
hotel_df.head(10)

,City,Country,Max Temp,Lat,Lng,Hotel Name
0,Rikitea,PF,75.49,-23.1203,-134.9692,People ThankYou
1,Sur,OM,77.50,22.5667,59.5289,Sur Plaza Hotel
8,Kapaa,US,82.38,22.0752,-159.3190,Sheraton Kauai Coconut Beach Resort
11,Victoria,HK,77.38,22.2855,114.1577,Mini Hotel Central
12,Manicore,BR,83.50,-5.8092,-61.3003,Hotel Durval
21,Cabinda,AO,76.59,-5.5500,12.2000,Hotel Maiombe
28,Namatanai,PG,82.47,-3.6667,152.4333,Seagulls Inn Namatani
31,Banting,MY,79.56,2.8167,101.5000,Hotel Intan Jugra
32,Labuhan,ID,79.39,-6.8844,112.2051,PT PPI Lamongan Tambak C
33,Vaini,TO,78.96,-21.2000,-175.2000,Keleti Beach Resort

In [30]:
# Add a heatmap of temperature for the vacation spots.
locations = hotel_df[["Lat", "Lng"]]
max_temp = hotel_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp, dissipating=False,
             max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [34]:
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Max Temp</dt><dd>{Max Temp} °F</dd>
</dl>
"""

In [35]:
# Store the DataFrame Row.
hotel_info = [info_box_template.format(**row) for index, row in hotel_df.iterrows()]

In [36]:
# Add a heatmap of temperature for the vacation spots and a pop-up marker for each city.
locations = hotel_df[["Lat", "Lng"]]
max_temp = hotel_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp,dissipating=False,
             max_intensity=300, point_radius=4)
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig.add_layer(heat_layer)
fig.add_layer(marker_layer)

# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))